
                <!-- Sidebar end=============================================== -->
                {{#if layoutVM.isLogged}}
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                        <li class="active">Thông tin tài khoản</li>
                    </ul>
                    <h3> Thông tin tài khoản</h3>
                    <div class="well">
                        {{#each info}}
                        <form class="form-horizontal" action="" method="POST" role="form">
                            <h4>Thông tin cá nhân</h4>
                            <div class="control-group">
                                <label class="control-label">Giới tính <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="input_gender" placeholder="{{gender}}" name="gender">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="inputLnam">Tên <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="inputLnam" placeholder="{{name}}" name="name">
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">Năm sinh <sup>*</sup></label>
                                <div class="controls">
                                    <select class="span1" name="birthday" placeholder="{{birthday}}">
                                        <option value="">-</option>
                                        <option value="2001">2001&nbsp;&nbsp;</option>
                                        <option value="2000">2000&nbsp;&nbsp;</option>
                                        <option value="1999">1999&nbsp;&nbsp;</option>
                                        <option value="1998">1998&nbsp;&nbsp;</option>
                                        <option value="1997">1997&nbsp;&nbsp;</option>
                                        <option value="1996">1996&nbsp;&nbsp;</option>
                                        <option value="1995">1995&nbsp;&nbsp;</option>
                                    </select>
                                </div>
                            </div>
                            <h4>Thông tin thêm</h4>
                            <div class="control-group">
                                <label class="control-label" for="address">Địa chỉ <sup>*</sup></label>
                                <div class="controls">
                                    <input type="text" id="address" placeholder="{{address}}" name="address" /> 
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label" for="aditionalInfo">Thông tin thêm</label>
                                <div class="controls">
                                    <textarea name="addition" id="aditionalInfo" cols="26" rows="3">{{addition}}</textarea>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="mobile">Điện thoại <sup>*</sup> </label>
                                <div class="controls">
                                    <input type="text"  id="mobile" placeholder="{{phone}}" name="phone" />
                                </div>
                            </div>
                           
                            <div class="control-group">
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary">Thay đổi thông tin</button>
                                    
                                </div>
                            </div>
                        </form>
                        {{/each}}
                        {{#if add_ok}}
                        <div class="alert alert-success">
                            <strong>Success!</strong> Thêm sản phẩm thành công.
                        </div>
                        {{/if}}
                        {{#if add_false}}
                        <div class="alert alert-danger">
                            <strong>Danger!</strong> Thêm sản phẩm thất bại.
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    <!-- MainBody End ============================= -->
   