
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="/">Trang chủ</a> <span class="divider">/</span></li>
                        <li class="active">Các sản phẩm</li>
                    </ul>
                    <h3> Laptop chính hãng <small class="pull-right"> 40 sản phẩm còn hàng </small></h3>
                    <hr class="soft" />
                    <p>
                        "Bạn cần chúng tôi có, chúng tôi không có, chúng tôi đi kiếm!"- chủ Cửa hàng NaviLaptop
                    </p>
                    <hr class="soft" />
                    <form class="form-horizontal span6">
                        <div class="control-group">
                            <label class="control-label alignL">Lọc theo </label>
                            <select>
                                <option>Tên sản phẩm A-Z</option>
                                <option>Tên sản phẩm Z - A</option>
                                <option>Còn hàng</option>
                                <option>Giá cả (thấp - cao)</option>
                                <option>Giá cả (cao - thấp)</option>
                            </select>
                        </div>
                    </form>
                    <div id="myTab" class="pull-right">
                        <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
                        <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
                    </div>
                    <br class="clr" />
                    <div class="tab-content">
                        <div class="tab-pane" id="listView">
                            {{#each categories}}
                            <div class="row">
                                <div class="span2">
                                    <img src="/{{image_link}}" alt="" />
                                </div>
                                <div class="span4">
                                    <h3>New | Available</h3>
                                    <hr class="soft" />
                                    <h5> {{name}} </h5>
                                    <p>
                                        - CPU: Intel® Celeron® Processor N3350 (1.10GHz, 2M Cache, up to 2.4 GHz)
                                        <br> - Ram: 4GB DDR3L Bus 1600 Mhz
                                        <br> - Ổ cứng: HDD500GB 5400rpm Hard Drive Sata
                                        <br> - Card màn hình: Integrated Intel® HD Graphics
                                        <br> - Màn hình: 14.0 inch LED backlit HD (1366x768) 60Hz Glare Panel with 45% NTSC
                                        <br> - Khối lượng: 1.78kg
                                    </p>
                                    <a class="btn btn-small pull-right" href="/product_details?id={{id}}">Xem chi tiết</a>
                                    <br class="clr" />
                                </div>
                                <div class="span3 alignR">
                                    <form class="form-horizontal qtyFrm">
                                        <h3> {{price}} ₫</h3>
                                        <label class="checkbox">
                                            <input type="checkbox"> So sánh sản phẩm
                                        </label>
                                        <br/>
                                        <a href="/product_details" class="btn btn-large btn-primary"> Thêm vào giỏ hàng <i class=" icon-shopping-cart"></i></a>
                                        <a href="/product_details" class="btn btn-large"><i class="icon-zoom-in"></i></a>
                                    </form>
                                </div>
                            </div>
                            <hr class="soft" /> {{/each}}
                        </div>
                        <div class="tab-pane  active" id="blockView">
                            <ul class="thumbnails">
                                {{#each categories}}
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a href="/product_details?id={{id}}"><img src="/{{image_link}}" alt=""/></a>
                                        <div class="caption">
                                            <h5>{{name}}</h5>
                                            <h4 style="text-align:center"><a class="btn" href="/product_details?id={{id}}"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Thêm vào giỏ hàng <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{price}} ₫</a></h4>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                            <hr class="soft" />
                        </div>
                    </div>
                    <a href="/compair" class="btn btn-large pull-right">So sánh sản phẩm</a>
                    <div class="pagination">
                        <ul>
                            <li>{{#each page_numbers}} {{#if isCurPage}}
                                <li class="active"><a href="javascript:;">{{value}}</a></li>
                                {{else}}
                                <li><a href="?page={{value}}">{{value}}</a></li>
                                {{/if}} {{/each}}
                            </li>
                            
                            <li><a href="#">&rsaquo;</a></li>
                        </ul>
                    </div>
                    <br class="clr" />
                </div>
            </div>
        </div>
    </div>
    <!-- MainBody End ============================= -->
   